.block{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px 1px rgba(61, 61, 61, 0.6);
    margin: 15px 0px;
    border-radius: 5px;
    margin-left: -40px;
    width: 300px;
    gap: 15px;
}
.name{
    font-family: 'Open Sans';
    width: max-content;
}
.point{
    font-size: 80px;
    color:#161000;
    margin: 0;
    margin-left: 10px;
}
.online{
    composes: point;
    color: #479f03;
}
.out{
    composes:point;
    color: #89220a;
}
.block::marker{
    content: "";
}
.img{
    width: 100px;
}